<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--[if IE
      ]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
    /><![endif]-->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="description" content="" />

    <!-- Css -->
    <link rel="stylesheet" href="assets2/css/style.css" />

    <!-- Dark Mode JS -->
    <script src="assets2/js/darkMode.bundle.js"></script>

    <!-- Favicons -->
    <link
      rel="shortcut icon"
      href="assets2/img/favicon.png"
      type="image/x-icon"
    />
  </head>

  <body
    class="overflow-x-hidden font-body text-jacarta-500 dark:bg-jacarta-900"
    itemscope
    itemtype="http://schema.org/WebPage"
  >
    <%- include('../partials/navbar.ejs') %> <%- body -%> <%-
    include('../partials/footer.ejs') %>
    <!-- JS Scripts -->
    <script src="assets2/js/app.bundle.js"></script>
    <script src="assets2\js\countdown.bundle.js"></script>
  </body>
</html>
